* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background: rosybrown;
    color: rgb(77, 6, 116);
    line-height: 1.65;
    min-height: 100vh;
}
header {
    padding: 1rem 2rem;
    background: rgb(162, 49, 223);
    color: white;
    text-align: center;
    border-radius: 40px;
}
h1 {
    font-size: 45px;
}
h2 {
   text-align: center;
   padding: 2rem;
   font-size: 2rem;
}
.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 2rem;
    width: 100%; 
}
.card {
    background: rgb(77, 6, 116);
    color: white;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 24px 50px rgba(15, 23, 42, 0.14);
}
.btn-main {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: white;
    color: rgb(77, 6, 116);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;

}   
.btn-main:hover {
    background: rgb(231, 84, 11);
    color: white;
    border: 1px solid 
    rgb(69, 29, 29);
}
.services-list {
    /* list-style-type: none; */
    text-align: left;
    margin-left: 50px;
}
.cta {
    text-align: center;
    padding-bottom: 50px;
    font-size: 18px;
    background: rgb(162, 49, 223);
    color: white;
    margin-top: 2rem;
}
.cta-header{
    color: white;
    text-align: center;
    padding-bottom: 0;
}
.btn-secondary {
     display: inline-block;
    padding: 0.75rem 1.5rem;
    background: white;
    color: rgb(77, 6, 116);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
}   
.btn-secondary:hover {
    background: rgb(231, 84, 11);
    color: white;
    border: 1px solid 
    rgb(69, 29, 29);
}
footer {
    text-align: center;
    padding: 1rem;
    color:rgb(73, 10, 108);
}
.footer-link {
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    flex-direction: column;
  }
@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
    }

}